.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product_item {
    border: 1px solid #E3E3E3;
    width: 16.14vw;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all .3s;
    border-radius: 8px;
}

.product_item:hover {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 20px 36px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.productImage {
    height: 10.56vw;
    margin: 20px 0 40px 0;
    width: 100%;
}

.productImage > img {
    width: 100%;
}

.star_icon {
    background-color: #FF961B;
}

.product_item li {
    list-style-type: none;
    padding: 5px 0;
}

.collection_item {
    display: flex;
}

.collection_item:nth-child(1) > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #A5A5A5;
}

.collection_item > span {
    margin-left: 0.99vw;
    color: #979779;
}

.collection_item:nth-child(1) > span {
    width: 45px;
    height: 21px;
    left: 502px;
    top: 1416px;
    background: #349270;
    border-radius: 7.48979px;
    color: white;
    padding: 1.87245px 3.74489px;
}

.collection_item:nth-child(2) > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 100%;
    color: #0E1714;
} 

.product_item li:nth-child(4) > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 0.83vw;
    line-height: 130%;
    color: #0E1714;
    width: 12.96vw;
}

.product_item ul button {
    background: #33A87E;
    border-radius: 8px;
    width: 9.94vw;
    height: 1.97vw;   
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.83vw;
    line-height: 0.98vw;
    text-align: center;
    color: #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
}

.btnCart {
    margin-right: 7px;
}

.product_item li:nth-child(5) {
    display: flex;
    align-items: center;
    
}

.item_heart {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.rekomandatsiya {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    background: #EBF6F2;
    border-radius: 3px;
    color: #33A87E;
    border: none;
    outline: none;
    width: auto;
    height: 1.19vw;
    font-size: 10px;
    padding: 3px 4px;
}

.novinki {
    margin-top: 2.60vw;
}