@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.41vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EFF3F6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #29795C;
  border-radius: 0.26vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #33A87E;
}